h1{
    font-family: sans-serif;
    font-size: large;
    color: black;
}

.text{
    font-family: sans-serif;
    font-size: medium;
    color: darkslategrey;
}

body{
    background-color: lemonchiffon;
}